h1, h2 {
  color: orangered;
  font-style: italic;
}
li {
  color: black;
  padding-top: 3px;
  font-size: 20px;
}
.error {
  color: green;
  background-color: lightgrey;
  font-size: 20px;
  border-style: solid;
  background-repeat: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
button {
  margin: 5px;  
}
 form button{
    margin: 5px;
 }
 form input{
    margin: 5px;
 }